<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Program Files (x86)\tools\HTC Butterfly S 901e 刷机包 官方经典款 Sense6风格 完美Root版.zip"/>
</launchConfiguration>
